<% content_for :title, "ユーザー登録" %>

<div class="flex justify-center items-center">
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
    <h1 class="font-bold text-4xl">ユーザー登録</h1>

    <%= render "new_form", user: @user %>
  </div>
</div>
