<div class="bg-white/70 backdrop-blur-md rounded-xl p-6 sm:p-8 text-center py-10">
  <h1 class="font-bold text-3xl">マッスルレシピ</h1>
  <h5 class="mt-4 text-xl text-gray-700">~あなたは筋トレ、献立はAIに~</h5>
  <p class="mt-4 text-gray-700">面倒なレシピ探しをAIがサポート！<br>あなたはトレーニングに集中しよう！</p>
  <div class='relative text-center mt-6'>
    <%= link_to 'さっそくレシピを検索する', new_search_path, class: ' max-w-xs w-full px-6 py-3 bg-blue-600 text-white font-bold rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300 transition duration-200' %>
  </div>
</div>
