<div id="loading-screen" class="fixed inset-0 flex items-center justify-center bg-white/50 backdrop-blur-sm hidden z-50">
  <div class="flex flex-col sm:flex-row items-center justify-center space-y-4 sm:space-y-0 sm:space-x-4">
    <!-- スピナー -->
    <div id="loading-spinner">
      <svg aria-hidden="true" class="w-12 h-12 text-gray-300 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 50.5C100 78.1 77.6 100.5 50 100.5C22.4 100.5 0 78.1 0 50.5C0 22.9 22.4 0.5 50 0.5C77.6 0.5 100 22.9 100 50.5ZM9 50.5C9 74.3 26.2 91.5 50 91.5C73.8 91.5 91 74.3 91 50.5C91 26.7 73.8 9.5 50 9.5C26.2 9.5 9 26.7 9 50.5Z"/>
        <path d="M93 50.5C95.2 50.5 97 48.7 97 46.5C97 24.1 79.4 6.5 57 6.5C54.8 6.5 53 8.3 53 10.5C53 12.7 54.8 14.5 57 14.5C76.1 14.5 91 29.4 91 48.5C91 50.7 92.8 52.5 95 52.5C96.1 52.5 97 51.6 97 50.5H93Z" fill="currentColor"/>
      </svg>
    </div>
    <!-- 「検索中...」の文字 -->
    <p class="text-black text-lg font-semibold">検索中...</p>
  </div>
</div>
<% if @guest_recipe.present? %>
  <div class="max-w-3xl mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
    <%= render "recipe" %>
  </div>
<% else %>
<div data-controller="tabs" data-tabs-target="container">
  <div class="flex justify-center space-x-4 border-b text-center">
    <button
      data-action="click->tabs#change"
      data-tabs-target="tab"
      data-index="0"
      class="py-2 px-4 text-gray-700 hover:text-blue-500">
        <p>具材検索</p>
    </button>
    <button
      data-action="click->tabs#change"
      data-tabs-target="tab"
      data-index="1"
      class="py-2 px-4 text-gray-700 hover:text-blue-500">
        <p>PFC検索</p>
    </button>
  </div>

  <div class="mt-4">
    <div data-tabs-target="panel">
      <%= render "ingredients_form", user: @user %>
    </div>
    <div data-tabs-target="panel" class="hidden">
      <%= render "pfc_form", user: @user %>
    </div>
  </div>
</div>
<% end %>